

main{
  max-width: 1200px;
  margin: 6rem auto;
}



main {
  max-width: 1080px;
  min-height: 100vh;
  margin: 7rem  auto 3rem;
  
}

/* Esconde visualmente a scrollbar, mas permite rolar */
html {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


@media (max-width:600px){
  main{
    padding: 1rem 1rem;
  }
}


