<!-- footer -->

<footer class="footer">
  <ul class="footer__list">
    <li class="">
      <a href="#" class="menu__link__footer">
        <i class="fa-solid fa-house"></i><span>Home</span>
      </a>
    </li>
    <li class="">
      <a href="#features" class="menu__link__footer">
        <i class="fa-solid fa-list-check"></i><span>Features</span>
      </a>
    </li>
    <li class="">
      <a href="#preview" class="menu__link__footer">
        <i class="fa-solid fa-eye"></i><span>Preview</span>
      </a>
    </li>
        <li class="">
                <a href="#details" class="menu__link__footer">
                  <i class="fa-solid fa-file-lines"></i><span>Details</span>
                </a>
              </li>

              <li class="">
                <a href="#download" class="menu__link__footer">
                  <i class="fa-solid fa-download"></i><span>Download</span>
                </a>
              </li>
    <li class="">
      <a href="#contact" class="menu__link__footer">
        <i class="fa-solid fa-envelope"></i><span>Contato</span>
      </a>
    </li>
  </ul>

  <div class="footer__social">
    <a href="https://facebook.com" class="link__primary"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://instagram.com" class="link__primary"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://github.com" class="link__primary"><i class="fa-brands fa-github"></i></a>
    <a href="https://linkedin.com" class="link__primary"><i class="fa-brands fa-linkedin"></i></a>
  </div>

  <div class="footer__info">
    <p>© 2025 <strong>Sanciweferson</strong>. Todos os direitos reservados.</p>
    <a href="#termos">Termos de Uso</a> | 
    <a href="#privacidade">Política de Privacidade</a>
  </div>

 
</footer>
